<footer class="wd-pt-4 wd-pb-4 wd-bg-navy1 wd-text-white">
    <div class="wd-container wd-mx-auto wd-px-4 2xl:wd-px-0 wd-flex wd-justify-between wd-items-center">
        <div>Footer</div>
        <div><small>&copy; 2021 | Bima Indra</small></div>
    </div>
</footer>