<div class="wd-l-main wd-min-h-screen">   

    {{> header}}

    <main class="wd-pt-4 wd-pb-4">
        <div class="wd-container wd-mx-auto wd-px-4 2xl:wd-px-0">This is main content!</div>
    </main>

    {{> footer}}

</div>